 


 @media screen and (max-width: 600px) {
.actions{
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
  width: 100%;
  align-items: center;
}
 .game-board{
 display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 16px;
  max-width: 80vw;
  max-height:  85vh;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
;




  
 
 } #results-list{
  table-layout: fixed;
  width:100% !important;
  height: 80px;
  max-height: 100px !important;
  overflow-y: scroll;
 }
 /* #show-classifica{
    display: none;
    visibility: hidden;
    opacity: 0;
 } */

 .classifica {
  max-width:90vw;
  
  
 



 }

 td{

 font-size: 0.6rem ;
 text-align: center;
 overflow-x: auto;


  }


}
    

 